<!-- all this here should be snipped of html that represent the team member-->
<section class="bioTeam">
    <section class="memberPhoto">
        <img src="/images/{{person.avatar}}" alt="{{person.name}}'s image">
    </section>
    <section class="rightElements">
    <section class="memberInfo">
        <h1 class="name">{{person.name}}</h2>
        <h2 class="role">{{ person.role }}</h3>
        <p class="bio">{{ person.bio }}</p>
    </section>
    <img class="shield" src="/images/shield.svg" alt="s image">
    </section>
</section>