<!-- all this here should be snipped of html that represent the team member-->
<section>
    <h1 class="name">Name</h1>
    <h2 class="red">{{person.name}}</h2>
    <h2 class="role">Role</h2>
    <h3>{{ person.role }}</h3>
    <h2 class="bio">Bio</h2>
    <h3>{{ person.bio }}</h3>
    <img src ="{{person.avatar}}" alt="{{person.name}}'s image">
</section>